@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Flights" asp-controller="Flights">

    <button type="submit">Sprawdźć loty</button>

</form>


<form asp-action="Login" asp-controller="Register">

    <button type="submit">Zaloguj się</button>

</form>